#content {
  min-height: 100vh;
  padding: 25px;
}

.b-white {
  border: 1px solid white;
}

.no-word-break {
  white-space: nowrap;
  overflow-x: hidden;
}

.text-medium {
  font-size: 20px;
}

.max-w-150px {
  max-width: 150px;
}

.max-w-70 {
  max-width: 70%;
}

.max-w-90 {
  max-width: 90%;
}
