.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}

.form-btn {
  max-width: 150px;
}

@media screen and (min-width: 576px) {
  .txt-select {
    max-width: 70%;
  }
}

@media screen and (max-width: 576px) {
  .form-txt-input {
    max-width: 300px;
  }
}