.text-medium {
  font-size: 20px;
}

.text-right {
  text-align: right;
}

.max-w-150px {
  max-width: 150px;
}

.b-white {
  border: 1px solid white;
}

.max-w-70 {
  max-width: 70%;
}
.max-w-90 {
  max-width: 90%;
}

#btn-calculate {
  margin-right: 15px;
}