.image-results div {
  text-align: center;
  display: inline-block;
}

.image-results .image-container {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.image-results img {
  margin: auto;
  max-width: 65px;
}

@media screen and (max-width: 576px) {
  .xs-max-350px {
    max-width: 350px;
  }
  .xs-max-250px {
    max-width: 250px;
  }
}
